---
layout: container-fluid
title: Onsite group
permalink: /onsite-group-landing/
---

<div class="jumbotron" style="background-image: url('/assets/img/onsite-groups-header@2x.jpg');">
  <h1>
    onsite groups
    <svg class="icon icon-1 text-white" viewBox="0 0 256 256">
      <use xlink:href="/assets/svgs/icons.svg#screwhead-crds"></use>
    </svg>
  </h1>
  <p>It’s true. We get by with a little help from our friends. Find yours here.</p>
</div>

<section class="container">
  {% include _onsite-group-connection.html %}
  {% include _onsite-group-healing.html %}
  {% include _onsite-group-recovery.html %}

  <div class="row">
    <div class="col-md-12">
      <hr>
      <p class="collection-header hard-top no-borders">view onsite group by location</p>
    </div>
  </div>
  <div class="cards-4x cards-2x-xs push-top">
    <div class="row">

      {% assign sorted_onsite_group_locations = site.locations | sort: "name" %}
      {% for location in sorted_onsite_group_locations %}
        {% if location.onsite_group_description %}
        <a class="card flush-bottom hard-bottom" href="/groups/{{ location.slug }}">
          <img
            src="{{ location.image.url | imgix: site.imgix }}?{{ site.imgix_params.location_image }}" />
          <div class="card-block hard-bottom">
            <h4 class="card-title card-title--overlap-remove-divider text-uppercase">
              {{ location.name }}
            </h4>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% include _sub-footer.html %}

</section>
